#content{
    width: 70%;
    margin: 20px auto;
    border: 1Px solid #cccccc;
}
#form{
    width: 50%;
    margin: 20px auto;
}
#formdiv{
    margin-top: 5px;
}
.gal_div{
    width: 200px;
    height: 320px;
    padding: 5px;
    margin: 15px auto;
    border: 1px solid #cccccc;
    float:left;
}
.gal_div:after{
    display: block;
    clear: both;
}
.gal_div img{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}